* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aquamarine;
  text-align: center;
}
h1 {
  font-size: 4rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  font-size: 8vmin;
}

#reset-btn {
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  border: none;
}
#new-btn {
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  border: none;
}
#msg {
  color: black;
  font-size: 5vmin;
}
.msg-container {
  height: 17vmin;
}
.hide {
  display: none;
}
